 body {
  font-family: Arial, sans-serif;
  margin: 50px;
   display: flex;
}

 #main {
   flex-grow: 2;
 }

 #counter {
   flex-grow: 1;
 }

 #counter p:first-of-type {
   font-size: 1.5rem;
 }

 #counter > p {
   font-size: 1rem;
 }

h1 {
  text-align: center;

}

.container {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 20px;
}

select,
input[type="text"],
input[type="submit"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-container input[type="submit"] {
  width: 100px;
  margin-left: 10px;
}

textarea {
  height: 200px;
}

.output-container {
  margin-top: 40px;
}

.wrapper-hidden {
  display: none;
}
