{% macro caesar() -%}
    <div id="caesar-wrapper">
        <label for="caesar-input">Text:</label>
        <input type="text" id="caesar-input">

        <div class="input-container" id="shiftValueContainer">
            <label for="caesar-inputShift">Shift Value:</label>
            <input type="number" id="caesar-inputShift" value="1" min="1" max="25">
        </div>

        <div class="button-container">
            <button id="caesar-encryptButton">Encrypt</button>
        </div>

        <div class="output-container">
            <label for="caesar-encoded">Encoded Text:</label>
            <textarea id="caesar-encoded"></textarea>
        </div>

        <div class="input-container" id="shiftValueContainer">
            <label for="caesar-decryptShift">Shift Value:</label>
            <input type="number" id="caesar-decryptShift" value="1" min="1" max="25">
        </div>

        <div class="button-container">
            <button id="caesar-decryptButton">Decrypt</button>
        </div>

        <div class="output-container">
            <label for="caesar-decoded">Decoded Text:</label>
            <textarea id="caesar-decoded" readonly></textarea>
        </div>
    </div>
{%- endmacro %}