{% from "blowfish_macro.html" import blowfish %}
{% from "caesar_macro.html" import caesar %}
{% from "hash_macro.html" import hash %}
{% from "xor_macro.html" import xor %}
<!DOCTYPE html>
<html>
<head>
    <title>Jamael Verschlüsselung</title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>
<body>
<div id="main">
    <h1>Jamael Verschlüsselung</h1>
    <div class="container">
        <label for="encryptionMethod">Verschlüsselungsmethode:</label>
        <select id="encryptionMethod" name="encryptionMethod">
            <option value="caesar" selected>Caesar-Verschlüsselung</option>
            <option value="hash">Hash-Verschlüsselung</option>
            <option value="xor">XOR-Verschlüsselung</option>
        </select>

        {{ caesar() }}
        {{ hash() }}
        {{ xor() }}
    </div>
</div>
<div id="counter">
    <h1>Global Counter</h1>
    <p><strong>Total: <span id="total-counter">{{ counter }}</span></strong></p>
    {% for count in counts %}
        <p>{{ count[1] }}: <span id="{{ count[1].lower() }}-counter">{{ count[0] }}</span></p>
    {% endfor %}
</div>

<script src="static/index.js"></script>
<script src="static/caesar.js"></script>
<script src="static/hash.js"></script>
<script src="static/xor.js"></script>
</body>
</html>
