{% macro xor() -%}
    <div id="xor-wrapper" class="wrapper-hidden">
        <label for="xor-input">Text:</label>
        <input type="text" id="xor-input">

        <div class="input-container" id="shiftValueContainer">
            <label for="xor-inputKey">Key:</label>
            <input type="text" id="xor-inputKey">
        </div>

        <div class="button-container">
            <button id="xor-encryptButton">Encrypt</button>
        </div>

        <div class="output-container">
            <label for="xor-encoded">Encoded Text:</label>
            <textarea id="xor-encoded"></textarea>
        </div>

        <div class="input-container" id="shiftValueContainer">
            <label for="xor-decryptKey">Key:</label>
            <input type="text" id="xor-decryptKey">
        </div>

        <div class="button-container">
            <button id="xor-decryptButton">Decrypt</button>
        </div>

        <div class="output-container">
            <label for="xor-decoded">Decoded Text:</label>
            <textarea id="xor-decoded" readonly></textarea>
        </div>
    </div>
{%- endmacro %}